<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Stoneblock Hosting</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="styles.css">
</head>

<body>
    <nav class="c-navbar">
        <div class="c-navbar__logo">
            Stoneblock Hosting
        </div>
        
        <div class="c-navbar__login">
            <img src="Pngs/user.png" alt="User Icon"><a href="/login">Login</a>
        </div>
    </nav>
    
    <div class="c-container">
        <div id="sidebar" class="c-sidebar">
            <div class="c-sidebar__category">Basic Administration</div>
            <div class="c-sidebar__element"><img src="Pngs/homepng.png" alt=""><a href="template.html">Overview</a></div>
            <div class="c-sidebar__category">Management</div>
            <div class="c-sidebar__element"><img src="Pngs/server.png" alt=""><a href="">Servers</a></div>
        </div>
        <div class="c-content">
            <div class="c-content__servercount">My Servers:</div>
            <div class="c-content__onlineplayers">Players Online:</div>
            <div class="c-content__averagetps">Average TPS:</div>
            <div class="c-content__news"></div>
        </div>
    </div>
</body>
</html>